<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Account</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>Create Account</h1>
    <!-- This creates a form that will submit to POST /books -->
    <!-- <form action="/books" method="post"> -->
    <form action="/create-account" method="post">
        <p>
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="text" name="password" id="password">
        </p>
        <p>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </p>
        <p>
            <label for="handle">Handle</label>
            <input type="text" name="handle" id="handle">
        </p>
        <p>
            <input type="submit" value="Create Account" id="createaccount">
        </p>
        <p class="passwordmessage">{{ passwordmessage }}</p>
    </form>
</body>
bf
</html>