<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign in</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>Sign in</h1>
    <!-- This creates a form that will submit to POST /books -->
    <!-- <form action="/books" method="post"> -->
    <form action="/sign-in" method="post">
        <p>
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="text" name="password" id="password">
        </p>
        <p>
            <input type="submit" value="Sign in" id="signin">
        </p>
    </form>
</body>

</html>